<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>genetic-programming-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gp4cg.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gp4cgTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAA31C4D2943207600ADEF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAA31C6229432D4C00ADEF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAA31C6D294330AD00ADEF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAA31C78294330E100ADEF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D02047EA291BECE800AEB158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
